@import './base.css';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #ffffff;
  overflow-x: hidden;
}

#app {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: #f9fafb;
}

/* link demo, giữ cũng được */
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
